.h24{
    text-align: center;
    font-size: xxx-large;
    padding: 40px;

}

.p3{
    text-align: center;
}

.container8{
    background-color:#fad105;
}

.price-duration{
    list-style: none;
    text-decoration: none;

}